@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2E2F42;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

.form{
  align-self: center;
  height: 40px;
}

.form input {
  width: 272px;
  outline: none;
  border-radius: 4px;
  font: inherit;
  color:#808080;
  border: 1px solid #808080;
  padding: 8px 16px;
  margin: 0;
  box-sizing: border-box;
}
.form button{
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font: inherit;
  font-weight: 500;
  color:#fff;
  background: #4e75ff;
  border: 1px solid #4e75ff;
  cursor: pointer;
}

.loader{
  display: none;
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #4e75ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
.loader.is-visible{
  display: block;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.gallery {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  box-sizing: border-box;
}

.gallery-image{
  display: block;
  width: 100%;
  height: 152px;
  object-fit: cover;
  scale: 1;
}
.gallery-item-info{
  display: flex;
  justify-content: space-evenly;
  padding: 4px 20px;
}
.gallery-text{
  font-size: 12px;
  text-align: center;
  line-height: 2;
}
.title{
  font-weight: 600;
  display: block;
  text-align: center;
  line-height: 1.33;
}